<br />

<div class="booyah-box col-10 offset-1">
  <h2>Privacy Policy</h2>

  <p>
    We collect personal information (your email address) to enable registration and access to courses. No other personally identifiable information is collected.
  </p>
  <p>
    Financial information for paid courses is processed and managed by <a href="https://stripe.com/gb", target="_blank">Stripe</a>. We do not maintain financial information on this site.
  </p>
  <p>
    Last updated: July 2017
  </p>
</div>